@media screen and (max-width:600px) {

    body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

    #title-text{
        position: absolute;
        font-size: 20px;
        top: 40%;
        left: 18%;
    }

    #page-1{
        width: 600px;
    }

    nav{
        display: flex;
        font-family: 'Open Sans';
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 40px;
        opacity: 0.6;
        color: white;    
    }
    nav h1{
        margin-top: 0.3rem;
        margin-left: 1rem;
        font-size: 14px;
        font-weight: normal;
        vertical-align: middle;
    }

    nav ul{
        margin-top: 0.5rem;
        margin-left: 1rem;
        display: flex;
        list-style: none;
        font-weight: normal;
    }
    
    nav ul li{
        padding: 0rem 1rem;
        font-size: 10px;
        font-weight: bold;
        color: white;
        align-items: center;
    }

    #sub-text-1{
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: normal;
        text-transform: initial;
        color: white;
        position: absolute;
        top: 50%;
        left: 33%;
        letter-spacing: 1px;
    }
    
    #rcorners1{
        border-radius: 0px;
        background:orange;
        padding: 12px; 
        width: 100px;
        line-height: 1.5px;
        height: 7.5px;
        position: absolute;
        font-weight: bold;
        font-size: 7.5px;
        top: 58%;
        left: 40%;
        width: 15%;
        vertical-align: middle;
        text-align: center;
    }
    
    #the-story{
        font-size: 5px;
        letter-spacing: 0.5px;
        color: white;
        position: absolute;
        bottom: 90%;
        top: 92%;
        left: 44.5%;
    }
    
    #triangle{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid white;
        background-color: transparent;
        opacity: 0.2;
        position: absolute;
        bottom: 90%;
        top: 94%;
        left: 46.7%;
    }

    #page-2{
        background-image: url('../assets/the-games-bg.jpg');
        background-color: #cccccc;
        max-width: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    #text-page2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 9px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #cccccc;
        position: absolute;
        top: 20%;
        left: 7%;
    }
    
    #text-page2-1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #cccccc;
        position: absolute;
        top: 25%;
        left: 7%;
    }
    
    #carousel-game {
        position: absolute;
        top: 20%;
        left: 28%;
        height: 200px;
        width: 400px;
    }
    
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 10px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
    }
    
    .carousel-control-prev{
        margin-left: -55px;
    }
    
    .carousel-control-next{
        margin-right: -55px;
    }
       
    #features{
        background-image: url("../assets/features.jpg");
        background-color: #cccccc;
        max-width: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    #text-page3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #cccccc;
        position: absolute;
        left: 56%;
        top: 22%;
        letter-spacing: 2px;
    }
    
    #text-page3-1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #cccccc;
        position: absolute;
        left: 56%;
        top: 25%;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    #text-page3-2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #FFB548;
        position: absolute;
        left: 60%;
        top: 45%;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    #text-page3-3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 500;
        color: white;
        position: absolute;
        left: 60%;
        top: 55%;
        right: 10%;
        text-align: justify;
    }
    
    #text-page3-4{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #FFB548;
        position: absolute;
        left: 60%;
        top: 67%;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    #text-page3-5{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #FFB548;
        position: absolute;
        left: 60%;
        top: 75%;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    #vertical-line{
        border-left: 3px solid white;
        height: 118px;
        position: absolute;
        left: 57.95%;
        top: 48%;
    }
    
    .dot-white-traditional{
        height: 15px;
        width: 15px;
        background-color:white;
        border-radius: 50%;
        position: absolute;
        left: 57%;
        top: 45.5%;
    }
    
    .dot-white-game{
        height: 15px;
        width: 15px;
        background-color:white;
        border-radius: 50%;
        position: absolute;
        left: 57%;
        top: 67.5%;
        opacity: 0.2;
    }
    
    .dot-white-tbd{
        height: 15px;
        width: 15px;
        background-color:white;
        border-radius: 50%;
        position: absolute;
        left: 57%;
        top: 75.5%;
        opacity: 0.2;
    }

    #requirement{
        background-image: url("../assets/requirements.png");
        background-color: #cccccc;
        width: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    #text-page-4{
        position: absolute;
        height: 74px;
        left: 9%;
        right: 47%;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
    }
    
    #text-page4-1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        top: 15%;
        left: 40%;
    }
    
    #text-page4-2{
        position: absolute;
        left: 9%;
        top: 15%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        color: white;
        line-height: 60px;
        width: 50%;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: justify;
    }
    
    .row{
        position: absolute;
        width: 400px;
        top: 38%;
        left: 1%;
    }
    
    .orange-text{
        color: #FFB548;
        font-size: 12px;
        line-height: 28px;
        letter-spacing: 2px;
    }
    
    .white-text{
        color: white;
        font-size: 9px;
        line-height: 22px;
    }


#top-scores{
    background-image: url("../assets/topscore-ok-bg.jpg");
    background-color: #cccccc;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 25px;
    opacity: 0.9;
}

#text-page5{
    position: absolute;
    left: 9%;
    top: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: white;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: justify;
}

#text-page5-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 9.5%;
    top: 45%;
    line-height: 22px;
    width: 27%;
}

#rcorners2{
    border-radius: 5px;
    background:orange;
    padding: 12px; 
    width: 200px;
    line-height: 2px;
    height: 7px;
    position: absolute;
    font-weight: bold;
    top: 55%;
    left: 9.5%;
    width: 15%;
    vertical-align: middle;
    text-align: center;
    font-size: 7px;
}

#rcorners3{
    border-radius: 10px;
    background:black;
    height: 80px;
    width: 200px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 10%;
    right: 10%;
    opacity: 0.7;
}

#evan{
    position: absolute;
    background-image: url('../assets/image-8.png');
    width: 32.5px;
    height: 32.5px;
    right: 33%;
    top: 12%;
    border-radius: 15%;
}

#evan-name{
    position: absolute;
    font-size: 10px;
    letter-spacing: 0px;
    color: #FFB548;
    right: 22%;
    top: 12.5%;
}

#evan-tag{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 26.2%;
    top: 17%;
}

#evan-testimony{
    position: absolute;
    font-size: 8px;
    color:white;
    right: 15%;
    top: 20%;
}

#evan-timestamp{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 28.5%;
    top: 30%;
}

#rcorners4{
    border-radius: 10px;
    background:black;
    height: 80px;
    width: 200px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 35%;
    right: 20%;
    opacity: 0.7;
}

#jada{
    position: absolute;
    background-image: url('../assets/image-1.png');
    width: 32.5px;
    height: 32.5px;
    right: 43%;
    top: 37%;
    border-radius: 50%;
}

#jada-name{
    position: absolute;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 30%;
    top: 37%;
}

#jada-tag{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 34.5%;
    top: 41%;
}

#jada-testimony{
    position: absolute;
    font-size: 8px;
    color:white;
    right: 25%;
    top: 43%;
    width: 20%;
}

#jada-timestamp{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 38%;
    top: 55%;
}

#rcorners5{
    border-radius: 10px;
    background:black;
    height: 80px;
    width: 200px;
    line-height: 2px;
    position: absolute;
    font-weight: bold;
    top: 60%;
    right: 10%;
    opacity: 0.7;
}

#aaron{
    position: absolute;
    background-image: url('../assets/image.png');
    width: 32.5px;
    height: 32.5px;
    right: 32%;
    top: 63%;
    border-radius: 50%;
}

#aaron-name{
    position: absolute;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFB548;
    right: 17%;
    top: 62%;
}

#aaron-tag{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 26.5%;
    top: 65%;
}

#aaron-testimony{
    position: absolute;
    font-size: 8px;
    color:white;
    right: 12%;
    top: 68%;
    width: 25%;
}

#aaron-timestamp{
    position: absolute;
    font-size: 8px;
    color: gray;
    right: 26.5%;
    top: 80%;
}

#newsletter{
    background-color: black;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#skull{
    position: absolute;
    background-image: url('../assets/gold-skull.png');
    top: 5%;
    left: 10%;
    height: 300px;
    width: 206px;
}

#stay-in-touch{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    top: 15%;
    right: 25%;
    letter-spacing: 2px;
}

#newsletter-text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    top: 19%;
    right: 22.5%;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 30%;
}

#body{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 9px;
    top: 35%;
    left: 48%;
    width: 45%;
}

#rcorners6{
    border-radius: 0px;
    background:gray;
    height: 25px;
    width: 167.5px;
    line-height: 2px;
    position: absolute;
    top: 45%;
    right: 24.5%;
    opacity: 0.5;
}

#email{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: gray;
    top: 45%;
    right: 42%;
}

#binar-email{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color:#FFB548;
    top: 46.5%;
    right: 37%;
}

#rcorners7{
    border-radius: 0px;
    background:orange;
    padding: 12px; 
    width: 100px;
    line-height: 2px;
    height: 7.5px;
    position: absolute;
    font-weight: bold;
    top: 45%;
    right: 9%;
    width: 15%;
    vertical-align: middle;
    text-align: center;
    font-size: 7.5px;
}

#copyright{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color:gainsboro;
    top: 90%;
    left: 10%;
    opacity: 0.5;
}

#privacy{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color:gainsboro;
    top: 90%;
    right: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

#main{
    position: absolute;
    width: 67.51px;
    height: 20.19px;
    top: 80%;
    right: 65%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#about{
    position: absolute;
    width: 67.51px;
    height: 20.19px;
    top: 80%;
    right: 57%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#ftrs{
    position: absolute;
    top: 80%;
    right: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#req{
    position: absolute;
    top: 80%;
    right: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#quotes{
    position: absolute;
    top: 80%;
    right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

#horizontal-line{
    position: absolute;
    top: 86%;
    left: 10%;
    border: 1px solid white;
    width: 480px;
    opacity: 0.3;
}
   
}